# <center>Data Science Bootcamp - G Class - Hands-on</center>
<center><b>G Class sessions</b><br>
G Class 2021</center>

# Goals and objectives <font color='blue'> (10 min) </font>

The series of Jupyter notebooks will guide you through the study of NYC Bikes Data, from data collection and cleaning to visualization, feature engineering and modelling. 

We will be predicting whether a trip was made by a customer or a subscriber, thanks to different machine learning algorithms.

### <font color='red'>Steps that you will need to complete will be written in red </font>
### <font color='blue'>The time that you will be given will be written in blue </font>

# Data collection and cleaning

Data has been downloaded from https://www.citibikenyc.com/system-data and has been open-sourced by *City Bike*.

The dataset consists in all bike trips in NYC that happened in June 2015, with the following information:
- Trip Duration (seconds)
- Start Time and Date
- Stop Time and Date
- Start Station Name
- End Station Name
- Station ID 
- Station Lat/Long
- Bike ID
- User Type (Customer = 24-hour pass or 7-day pass user; Subscriber = Annual Member)
- Gender (Zero=unknown; 1=male; 2=female)
- Year of Birth

The **pandas** package will be used all throughout the notebooks to load data and easily perform data analysis.

# Necessary packages to study this dataset

If you are running these notebooks from your own computer, you will be required to have the following packages installed:

- **Basic packages** from Anaconda such as *numpy*, *pandas*, *scikit-learn*, ...
- seaborn
- haversine
- folium
- urllib

# 0) Using Jupyter notebook: tricks and tips <font color='blue'> (10 min) </font>

A Jupyter notebook is made of different boxes (or lines), which can be run independently from one another. They can be filled either with *Python code*, or with **Markdown code** as in this box.

- Click on the <b>LEFT SIDE</b> of a box, and press **A** to create a box **Above**, and **B** to create a box **Below**
- Click on the <b>LEFT SIDE</b> of a box, and double-press **D** to delete it
- Click on the <b>LEFT SIDE</b> of a box, and press **X** to cut it, and **V** to paste it
- Press **Shift + Enter** to run a box and go to the next one

By default, boxes will accept Python code. To create a **Markdown** box, click on the left side of the box, press **m** for **mardown**, and then you will be able to fill your box with the markdown format. For instance, if you write ### Title 1 in a **markdown defined box**, and then press **Shift + Enter** to run it.

### <font color='red'>0.1) Run the following lines by pressing Shift + Enter</font>

In [1]:
print('Hello World')

Hello World

In [2]:
user_name = "Data Scientist"  # Enter you name between the quotation marks
user_age = 27  # Enter your age here

print('Hello, my name is {}'.format(user_name))
print('I am {} years old'.format(user_age))

Hello, my name is Data Scientist
I am 27 years old

### <font color='red'>0.2) Create a Markdown cell by:</font>
- clicking on the left side of the cell
- typing m
- entering in the cell the following text (include the sharp signs): *### This is a Markdown cell*
- running the cell with **Shift + Enter**

### This is a Markdown cell

### <font color='red'>0.3) Add/Delete cells by clicking on the left side of a cell, and pressing "a" (above), "b" (below) and "dd" (delete)</font>

### Importing the necessary packages

Packages are imported at the beginning of the file, and can be aliased. For instance, the **pandas** package can be aliased as **pd**, the **numpy** package as **np**, and all **pandas** functions will be called with **pd.function** instead of **pandas.function**

In [3]:
from __future__ import division  # This allows for float division

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

<b>TIP</b>: You can press <b>TAB</b> for getting auto-completion of a command

### <font color='red'> 0.4) Start typing the user_name variable ('user_name') and press TAB to get auto-completion. Choose the right variable by pressing ENTER </font>

### <font color='red'>0.5) Import the pandas package and give it the alias <i>pd</i></font>

### <font color='red'>0.6) Get help on a module by calling the <i>help()</i> function with the aliased module as the parameter</font>

### <font color='red'>0.7) Get help on module functions by calling the <i>help()</i> function on them</font>

## 1) Core dataset collection <font color='blue'> (40 min) </font>

### <font color='red'>1.1) Load data by using the <i>read_csv</i> function of pandas (which has been aliased as pd) ; data is located in <i>'../data/201506-citibike-tripdata.csv'</i></font>

In [11]:
orig_data = pd.read_csv('data/201506-citibike-tripdata.csv')

In [12]:
orig_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

### <font color='red'>Run the following line so data is copied and does not need to be reloaded in case of mistakes</font>

In [13]:
data = orig_data.copy()

### <font color='red'>1.2) Show the data size in term of number of rows and number of columns</font>

In [14]:
data.shape

(941219, 15)

### <font color='red'>1.3) Show a sample (or several samples) of data by calling the method <i>.sample()</i> on the <i>data</i> dataframe</font>

### <font color='red'>1.4) Describe your data by calling the function <i>.describe()</i> on the <i>data</i> dataframe</font>

### <font color='red'>1.5) Print a column using <i>data.column_name</i> or <i>data[column_name]</i></font>

### Filtering

Filters are important in every dataset : data is noisy and filters are meant to keep data clean and understandable, on which models can be trained.
In Python, slicing conditions for dataframes can be expressed for instance as :
- **slice_condition = data.gender == 1**

Data can then be sliced with the following :
- **filtered_data = data[slice_condition]**

### <font color='red'>1.6) Get rid of trips that are more than 1.5 hours long (watch out for variable units !)</font>

In [19]:
data = data[(data['tripduration']/3600) <= 1.5]

In [20]:
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

### <font color='red'>1.7) Describe a few columns within the dataset using the following functions on the columns:</font>
- len()
- .column_name.unique()
- .column_name.mean()
- .column_name.median()

### Changing datetime to datetime format

### <font color='red'>1.8) The following block uses the <i>pd.to_datetime()</i> function with the <i>format</i> keyword to create datetime objects from strings columns, for starttime and stoptime.</font><br>

<font color='red'>Look at the string format of <i>starttime</i> and <i>stoptime</i> columns in the initial dataset, and notice how the <i>format</i> attribute matches exactly the structure of the string that you observe on the raw columns.

In [25]:
#### WHAT IS THE FORMAT OF starttime AND stoptime COLUMNS IN THE INITIAL DATASET ? ####

In [26]:
data['starttime_formatted'] =  pd.to_datetime(data['starttime'], format="%m/%d/%Y %H:%M")
data['stoptime_formatted'] =  pd.to_datetime(data['stoptime'], format="%m/%d/%Y %H:%M")

### <font color='red'>Run the following block to overwrite the starttime and stoptime columns (WARNING: THIS WILL OVERWRITE THE INITIAL COLUMNS)</font>

In [27]:
data['starttime'] =  data['starttime_formatted']
data['stoptime'] =  data['stoptime_formatted']
del data['starttime_formatted']
del data['stoptime_formatted']

### <font color='red'>1.9) Show a sample of 3 observations and check that the new columns have been created</font>

In [28]:
data['stoptime'].sample(3)

127273   2015-06-06 07:52:00
636047   2015-06-21 20:39:00
696346   2015-06-23 15:41:00
Name: stoptime, dtype: datetime64[ns]

### Fill missing values for birth year : these are called NaN (Not A Number)

In [29]:
data[data['birth year'].isnull()].sample(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
698899,486,2015-06-23 16:56:00,2015-06-23 17:04:00,349,Rivington St & Ridge St,40.718502,-73.983299,487,E 20 St & FDR Drive,40.733143,-73.975739,14795,Customer,NaN,0
268028,2082,2015-06-10 13:27:00,2015-06-10 14:02:00,238,Bank St & Washington St,40.736197,-74.008592,500,Broadway & W 51 St,40.762288,-73.983362,19089,Customer,NaN,0
167835,821,2015-06-07 15:13:00,2015-06-07 15:27:00,406,Hicks St & Montague St,40.695128,-73.995951,143,Clinton St & Joralemon St,40.692395,-73.993379,17517,Customer,NaN,0

In [30]:
data[data['birth year'].isnull()].head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
4,1233,2015-06-01 00:02:00,2015-06-01 00:22:00,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0
25,160,2015-06-01 00:22:00,2015-06-01 00:25:00,368,Carmine St & 6 Ave,40.730386,-74.002150,358,Christopher St & Greenwich St,40.732916,-74.007114,20136,Customer,NaN,0
36,597,2015-06-01 00:29:00,2015-06-01 00:39:00,447,8 Ave & W 52 St,40.763707,-73.985162,367,E 53 St & Lexington Ave,40.758281,-73.970694,18392,Customer,NaN,0
59,261,2015-06-01 00:45:00,2015-06-01 00:49:00,405,Washington St & Gansevoort St,40.739323,-74.008119,380,W 4 St & 7 Ave S,40.734011,-74.002939,18573,Customer,NaN,0
66,708,2015-06-01 00:50:00,2015-06-01 01:01:00,500,Broadway & W 51 St,40.762288,-73.983362,522,E 51 St & Lexington Ave,40.757148,-73.972078,18892,Customer,NaN,0

### <font color='red'>1.10) Print the proportion of missing birth years, using:</font>
- data["column_name"].isnull()
- data["column_name"].sum()
- len()

### <font color='red'>1.11) Print the median birth year</font>

### <font color='red'>1.12) Replace the missing birth years with the median birth year, using the <i>data[column].fillna function</i></font>

In [33]:
data['birth year'].fillna(data['birth year'].median())

0         1984.0
1         1997.0
2         1993.0
3         1981.0
4         1979.0
           ...
941214    1989.0
941215    1979.0
941216    1979.0
941217    1976.0
941218    1982.0
Name: birth year, Length: 935636, dtype: float64

# Save dataset to csv file

In [34]:
data.to_csv('data/my_data_after_simple_prep.csv', index=False)

## 2) Exercise <font color='blue'> (60 min) </font>

### <font color='red'>2.1) How many customer trip in the dataset?</font>

### <font color='red'>2.2) How many trip by female subscriber in the dataset?</font>

### <font color='red'>2.3) How many unique bikeid in the dataset?</font>

### <font color='red'>2.4) What is the shortest and longest trip duration by usertype (subscriber & customer)?</font>

### <font color='red'>2.5) What is the average trip duration by gender?</font>

### <font color='red'>2.6) How many missing value do we have in the end station name?</font>

### <font color='red'>2.7) How many trip by male customer with duration less than 30 minutes?</font>

### <font color='red'>2.8) What is the most popular station?</font>

## --------------- End of This Session ---------------